@model IEnumerable<Gerenciador_de_Cinema.Models.Salas>

@{
    ViewData["Title"] = "Salas";
}

<h2>Salas</h2>


<table class="table">
    <thead>
        <tr class="active">
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.qtd_assentos)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.qtd_assentos)
                </td>
                <td>
                </td>
            </tr>
}
        <hr />
    </tbody>
</table>
