@{
    ViewData["Title"] = "Home Page";


}

<img src="~/images/15810926_303.jpg" align="left" />
    
<right>
    <hgroup class="title">
        <h1> Gerenciador de Cinema </h1>
        <hr />
    </hgroup>

    <section id="loginForm">
        <div>
            <Label runat="server" AssociatedControlID="UserName">Usuário</Label>
            <input id="UserName" type="text" />
            <RequiredFieldValidator runat="server" ControlToValidate="UserName" CssClass="field-validation-error" ErrorMessage="É necessário informar o usuário." />
        </div>
        <br>
        <div>
            <Label runat="server" AssociatedControlID="Password">Senha</Label>
            <input id="Senha" type="password" />
            <RequiredFieldValidator runat="server" ControlToValidate="Password" CssClass="field-validation-error" ErrorMessage="É necessário uma senha." />
        </div>
        <br>
        <div>
            <input id="RememberMe" type="checkbox" />
            <Label runat="server" AssociatedControlID="RememberMe" CssClass="checkbox">Lembrar-me?</Label>
            <input id="btnEntrar" type="button" value="Entrar" OnClick="Unnamed6_Click" />
        </div>
        <label> </label>
    </section>
</right>


