@model Gerenciador_de_Cinema.Models.Sessao

@{
    ViewData["Title"] = "Create";
}

<h2>Novo</h2>

<h4>Sessões</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="data_exb" class="control-label"></label>
                <input asp-for="data_exb" class="form-control" />
                <span asp-validation-for="data_exb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hr_ini" class="control-label"></label>
                <input asp-for="hr_ini" class="form-control" />
                <span asp-validation-for="hr_ini" class="text-danger"></span>
            </div>
           <div class="form-group">
                <label asp-for="hr_fim" class="control-label"></label>
                <input asp-for="hr_fim" class="form-control" />
                <span asp-validation-for="hr_fim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valor_ing" class="control-label"></label>
                <input asp-for="valor_ing" class="form-control" />
                <span asp-validation-for="valor_ing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_filme" class="control-label"></label>
                <input asp-for="id_filme" class="form-control" />
                <span asp-validation-for="id_filme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_sala" class="control-label"></label>
                <input asp-for="id_sala" class="form-control" />
                <span asp-validation-for="id_sala" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
